<html>
    <head>
        <title>Xleaks</title>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    </head>
    <body>
        <h1>Welcome to your dashboard, {{ user_name }}</h1>
        <h3>This is your secret note</h3>
        <!-- make a note form -->
        <!-- <script>alert(document.cookie)</script> -->
        <form action="/note" method="POST">
            <input type="text" name="note" placeholder="Make a note">
            <input type="submit" value="Submit">
        </form>
        <iframe src="/note"></iframe>
        <!-- <iframe id="frame" sandbox></iframe> -->

        <!-- <script src="static/include.js"></script> -->
    </body>
</html>
