<!DOCTYPE html>
<html>
    <head>
        <title>JSON Store</title>
    </head>
    <body>
        <form action="/" method="GET">
            <label for="send">JSON Message</label>
            <input type="text" name="send">
            <input type="submit" value="ok">
        </form>
    </body>
</html>